
@{
    ViewBag.Title = "檔案已傳送";
}

<hr />
<div class="container" style="text-align:center">
    <h3 style="font-weight:bold ">@ViewBag.msg</h3>
    <a class="btn btn-primary" href="@Url.Action("DocListForWorker", "InspectDocChecker")">回審核頁面</a>
</div>
<hr />

