################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/InspectSystem/.vs
/InspectSystem/InspectSystem/App_Data/DefaultConnection_log.ldf
/InspectSystem/InspectSystem/App_Data/DefaultConnection.mdf
/InspectSystem/InspectSystem/obj/Release/Package/PackageTmp
